*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
}
.logo_menu{
    width: 20%;
}
.bg-light{
    background-color: black;
}
.foto_encabezado{
    width: 60%;
}
.apertura__icono{
    width: 6%;
}
.encabezado{
    background-color: black;
    color: white;
}
.slide_clientes{
    background-color: black;
}
footer{
    background-color: black;
    color: white;
}

/* SECCION 3D */
.equipos__info--icono{
    width: 4%;
}
.apertura{
    background-color: black;
    color: white;
}
.apertura_foto{
    width: 50%;
}
.items{
    background-color: yellow;
    color: black;
}
.reseñas__icono{
    width: 8%;
}
